<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>iDi<%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <!-- bodyタグのclass属性にコントローラ名をつける -->
  <body class='<%= "#{controller.controller_name}" %>'>

    <!-- ヘッダーを表示 -->
    <%= render partial: 'common/header' %>

    <!-- サインインしている場合のみフラッシュメッセージ表示 -->
    <% if user_signed_in? %>
      <!-- フラッシュメッセージを表示後にフェードアウトする -->
      <div id="fade-out">
          <!-- フラッシュメッセージを表示 -->
          <% flash_messages%>
      </div>
    <% end %>
    <!-- 各Viewを読み込む -->
    <%= yield %>

    <footer class="sign-up-footer section-danger">
        <div class="container">
            <div class="row">
                <p class="text-center">© 2016 iDi, All rights received.</p>
            </div>
        </div>
    </footer>
  </body>
</html>
